<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="gitlab" value="https://gitlab-dgt.eni.com/api/v4/groups/1372/-/packages/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <gitlab>
      <add key="Username" value="gitlab-deploy-token"/>
      <add key="ClearTextPassword" value="HzwDnFcXCsPF8fu2RJPH"/>
    </gitlab>
  </packageSourceCredentials>
</configuration>
